version: '3.9'
services:
  mongodb:
    image: mongodb/mongodb-community-server:8.0-ubi8
    container_name: mongo
    restart: unless-stopped
    environment:
      - MONGO_INITDB_ROOT_USERNAME=user
      - MONGO_INITDB_ROOT_PASSWORD=pass
    volumes:
      - ./data:/data/db
    ports:
      - '27017:27017'
  app:
    build:
      context: ../server
      dockerfile: Dockerfile
    container_name: app
    restart: unless-stopped
    depends_on:
      - mongodb
    environment:
      MONGO_URL: mongodb://user:pass@mongodb:27017/glossary?authSource=admin
    ports:
      - '5000:5000'
  web-client:
    build:
      context: ../web-client
      dockerfile: Dockerfile
      args:
        NEXT_PUBLIC_API_URL: http://localhost:5000
    container_name: web-client
    restart: unless-stopped
    depends_on:
      - app
    ports:
      - '3000:3000'
